<!DOCTYPE html>
<html>
  <head>
    <title>SecurityAnalizerOWASP</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= yield :css %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


  </head>

  <body>
    <% unless flash.empty? %>
        <% flash.each do |type, value| %>
            <div id="notice_wrapper">
              <p class="<%= type %>"><%= value %></p>
            </div>
        <% end %>
    <% end %>
    <%= yield %>
    <%= yield :javascript %>
  </body>
</html>