<%= render "layouts/app_header.html.erb" %>
<% content_for :javascript do %>
  <%= javascript_include_tag 'jspdf', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'ReportsGenerator', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'PDFReport', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'analizedSite', 'data-turbolinks-track': 'reload' %>
<% end %>

<div class="row">


  <div class="col s10 offset-s1">
    <div class="row">
      <div class="col s1">
        <%= link_to raw('<i class="material-icons">arrow_back</i>'), dashboard_path, class: 'btn-floating btn-small waves-effect waves-light deep-orange darken-2' %>
      </div>
      <div class="col s7 offset-s2">
        <h4><span id="url"><%= @analyzed_site.analysis.url %></span> - <span id="date"><%= @analyzed_site.analysis.analysis_date.strftime("%d") + '/' + @analyzed_site.analysis.analysis_date.strftime("%m") + '/' + @analyzed_site.analysis.analysis_date.strftime("%Y") %></span></h4>

      </div>
      <div class="col s2">
        <a href="#" onclick="startDownload('pdf')" class="btn-floating btn-small waves-effect waves-light deep-orange darken-2"><i class="material-icons">picture_as_pdf</i></a>
        <a href="#" onclick="startDownload('txt')" class="btn-floating btn-small waves-effect waves-light deep-orange darken-2"><i class="material-icons">text_fields</i></a>
        <a href="#" onclick="startDownload('xml')" class="btn-floating btn-small waves-effect waves-light deep-orange darken-2"><i class="material-icons">code</i></a>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m4">
        <div class="card">
          <div class="card-content white-text">
            <span class="card-title black-text">Flaws Found - <span id="flawsFound"><%= @analyzed_site.flaws_found %></span></span>
            <ul class="collection">
              <% @analyzed_site.vulnerabilities.each_with_index do |vulnerability, index| %>
                <li id="<%= vulnerability.id %>" class="item collection-item black-text" onclick="showCard(this)"><div><%= vulnerability.name %> - <span id="timesRepeated<%= index %>"><%= vulnerability.timesRepeated %></span><a href="#!" class="secondary-content"><i class="material-icons">remove_red_eye</i></a></div></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
      <% @analyzed_site.vulnerabilities.each_with_index do |flaw, index| %>
          <div id="card<%= flaw.id %>" class="info col s8" <%= index>0 ? 'hidden': '' %>>
            <div class="card">
              <div class="card-content white-text">
                <span id="vulnerability<%= index %>" class="card-title black-text"><%= flaw.name %></span>
                <h6><strong>Description:</strong></h6>

                <div id="description<%= index %>"><span class="black-text"><%= raw flaw.description %></span></div>

                <h6><strong>How to prevent it:</strong></h6>
                <div id="prevention<%= index %>"><span class="black-text"><%= raw flaw.prevention %></span></div>
              </div>
              <ul class="collection with-header">
                <li class="collection-header"><h4>Vulnerable URLs</h4></li>
                <% @analyzed_site.flaws.each_with_index do |detectedFlaw, i| %>
                  <% if detectedFlaw.vulnerability_id == flaw.id%>
                    <li id="<%= index %>flaw<%= i %>" class="collection-item"><%= detectedFlaw.url %> - payload: <%= detectedFlaw.payload %></li>
                  <% end %>
                <% end %>
              </ul>
            </div>
          </div>
      <% end %>

    </div>
  </div>
</div>
