<%= render "layouts/app_header.html.erb" %>
<div class="row">
  <div class="col s12 m8 offset-m2">
    <div class="row">
      <div class="col s12">
        <div class="card  grey lighten-5">
          <div class="card-content white-text">
            <span class="card-title black-text">Configuration</span>
            <div class="row">
              <%= form_for @user, :url => {:controller => :configuration, action: :update}, html: {class: 'col s12'} do |f| %>
                <div class="row">
                  <div class="input-field col s12">
                    <i class="material-icons prefix">account_circle</i>
                    <%= f.text_field :email, class: 'validate' %>
                    <label for="username">Username</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <i class="material-icons prefix">phone</i>
                    <%= f.password_field :encrypted_password, class: 'validate' %>
                    <label for="password">Password</label>
                  </div>
                </div>
                <div class="row">
                  <div class="col s12 center">
                    <button class="btn waves-effect waves-light orange darken-4" type="submit" name="action">Save changes
                      <i class="material-icons right white-text">save</i>
                    </button>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
          <div class="card-action center">
            <%= link_to 'Cancel Account', configuration_path(@user.id), method: :delete, class: "btn-flat red-text" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
