<%= form_tag analysis_url_path do %>

  <div class="row">
    <div class="col s12">
      <div class="input-field col s12 l6">
        <i class="material-icons prefix">link</i>
        <%= text_field_tag "url", "", :class => "validate" %>
        <label for="url">Url</label>
      </div>
      <div class="input-field col s12 l6">
        <i class="material-icons prefix">link</i>
        <%= text_field_tag "authentication", "", :class => "" %>
        <label for="authentication">Authentication Token ( optional )</label>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col s12">
      <% @vulnerabilities.each do |vulnerability| %>
        <div class="col s12 m4">
          <label>
            <%= check_box_tag "vulnerabilities[]", vulnerability.alias, false, class: 'checkbox' %>
            <span class="flow-text"><%= vulnerability.name %></span>
          </label>
        </div>
      <% end %>
    </div>
  </div>

 <div class="row">
    <div class="col s4 center-element">
      <a id="selectAll" class="waves-effect waves-light btn light-blue darken-4" onclick="selectAll()"><i class="material-icons right white-text">select_all</i>Select
        all</a>
    </div>
    <div class="col s4 center-element">
      <a href="https://drive.google.com/file/d/1jdQaoWoCEifG1KqGuUhdDZl_nJbVJ4l4/view?usp=sharing" target="_blank" class="waves-effect waves-light btn light-blue darken-4">Check instructions
        <i class="material-icons right white-text">insert_drive_file</i>
      </a>
    </div>
    <div class="col s4 center-element">
      <%= button_tag 'scan', id: "scan", class: "btn waves-effect waves-light orange darken-4", :disabled => true do %>
        SCAN
        <i class="material-icons right white-text">search</i>
      <% end %>
    </div>
  </div>
<% end %>
