<%= render "layouts/login_header.html.erb" %>
<div class="row">
  <div class="col s12 m8 offset-m2">
    <div class="row">
      <div class="col s12">
        <div class="card  grey lighten-5">
          <div class="card-content white-text">
            <span class="card-title black-text">Sign Up</span>
            <div class="row">
              <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                <div class="black-text">
                  <%= devise_error_messages! %>
                </div>

                <div class="input-field col s12">
                  <i class="material-icons prefix">account_circle</i>
                  <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'validate' %>
                  <%= f.label :email %>
                </div>

                <div class="input-field col s12 l6">
                  <i class="material-icons prefix">vpn_key</i>
                  <%= f.password_field :password, autocomplete: "new-password" %>
                  <%= f.label :password %>
                </div>

                <div class="input-field col s12 l6">
                  <i class="material-icons prefix">vpn_key</i>
                  <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
                  <%= f.label :password_confirmation %>
                </div>

                <div class="col 12">
                  <% if @minimum_password_length %>
                    <em class="black-text">(<%= @minimum_password_length %> characters minimum)</em>
                  <% end %>
                </div>


                <div class="row">
                  <div class="col s12 center">
                    <%= button_tag(type: 'submit', class: "btn waves-effect waves-light orange darken-4") do %>
                      <i class="material-icons right white-text">send</i>Sign Up
                    <% end %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>  

