<%= render "layouts/app_header.html.erb" %>

<% content_for :javascript do %>
  <%= javascript_include_tag 'highcharts', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'dashboard', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'datatables', 'data-turbolinks-track': 'reload' %>
<% end %>

<% content_for :css do %>
  <%= stylesheet_link_tag 'datatables', 'data-turbolinks-track': 'reload' %>
<% end %>

<input id="data" name="utf8" type="text" value="<%= @number_of_flaws_type %>" hidden/>

<div class="row">
  <div class="col s12 m10 offset-m1">
    <div class="col s6 l3">
      <div class="card">
        <div class="card-content white-text">
          <span class="card-title black-text flow-text">Total Analysis</span>
          <div class="row">
            <h4 class="black-text center"><%= @dashboard.number_of_analysis %></h4>
          </div>
        </div>
      </div>
    </div>
    <div class="col s6 l3">
      <div class="card">
        <div class="card-content white-text">
          <span class="card-title black-text flow-text">Completed Analysis</span>
          <div class="row">
            <h4 class="black-text center"><%= @dashboard.number_of_analysis_completed %></h4>
          </div>
        </div>
      </div>
    </div>
    <div class="col s6 l3">
      <div class="card">
        <div class="card-content white-text">
          <span class="card-title black-text flow-text">Pending Analysis</span>
          <div class="row">
            <h4 class="black-text center"><%= @dashboard.number_of_analysis_pending %></h4>
          </div>
        </div>
      </div>
    </div>
    <div class="col s6 l3">
      <div class="card">
        <div class="card-content white-text">
          <span class="card-title black-text">Detected Flaws</span>
          <div class="row">
            <h4 class="black-text center"><%= @dashboard.detected_flaws %></h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s12 m10 offset-m1">
    <div class="col s12 l7">
      <div class="card">
        <div class="card-content white-text">
          <span class="card-title black-text">Vulnerabilities</span>
          <div id="container" style="width:100%; height:400px;"></div>
        </div>
      </div>
    </div>
    <div class="col s12 l5">
      <div class="card">
        <div class="card-content white-text" style="height: 490px;">
          <span class="card-title black-text">Scans</span>
          <table id="table_id" class="display" data-page-length='4' style="width: 100%">

            <thead>
            <tr>
              <th>Scan</th>
              <th>Date</th>
              <th>Done</th>
            </tr>
            </thead>
            <tbody>
            <% @dashboard.analyses.each do |analysis|  %>
              <tr>
                <td><%= link_to_if analysis.is_scan_completed==1, analysis.url[0..17]+"...", analized_site_path(analysis.id)%></td>
                <td><%= analysis.analysis_date.strftime("%d") + '/' + analysis.analysis_date.strftime("%m") + '/' + analysis.analysis_date.strftime("%Y") %></td>
                <td class="dt-center"><%= raw analysis.is_scan_completed==1? "<i class=\"material-icons\">check_circle</i>": "<i class=\"material-icons\">access_time</i>"%></td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

